.nav-btn {
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--light-blue);
  outline: none;
  transition: all 0.5s ease-in-out;
  color: var(--warm-white);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
}

.nav-btn:hover {
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}
